@{
    ViewData["Title"] = "ArmadoPC";
}
<form action='@Url.Action("Presupuesto")'> 
@{  
@if(ViewBag.Usuario != null){
<h2>Arma tu pc</h2>
<input type="hidden" name="IdPedido" value="@ViewBag.IdPedido" />
<input type="hidden" name="Usuario" value="@ViewBag.Usuario" />
<h3>CPU:</h3>
<select name="CPU" id="CPU">
<option></option>
@for(int i= 0; i<=(ViewBag.CPU.Count - 1); i++){
<option name="CPU" id="CPU" value=@ViewBag.CPU[i].IdProducto>@ViewBag.CPU[i].Nombre </option>}
</select>
<br>

  <div class="products" id="showImg">
    <div class="imgbox3" id="img">
    </div>
  </div>

<br>
<br>
<br>
<h3>Motherboard:</h3>
<select name="Motherboard" id="Motherboard">
<option></option>
@for(int i= 0; i<=(ViewBag.Motherboard.Count - 1); i++){
<option name="Motherboard" id="Motherboard" value=@ViewBag.Motherboard[i].IdProducto>@ViewBag.Motherboard[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.Motherboard[i].img  height=250px width=250px>
  <br>
  @ViewBag.Motherboard[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>RAM:</h3>
<select name="RAM" id="RAM">
<option></option>
@for(int i= 0; i<=(ViewBag.RAM.Count - 1); i++){
<option name="RAM" id="RAM" value=@ViewBag.RAM[i].IdProducto>@ViewBag.RAM[i].Nombre </option>
}
</select>
<br>

@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.RAM[i].img  height=250px width=250px>
  <br>
  @ViewBag.RAM[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>GPU:</h3>
<select name="GPU" id="GPU">
<option></option>
@for(int i= 0; i<=(ViewBag.GPU.Count - 1); i++){
<option name="GPU" id="GPU" value=@ViewBag.GPU[i].IdProducto>@ViewBag.GPU[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.GPU[i].img  height=250px width=248px>
  <br>
  @ViewBag.GPU[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>Almacenamiento:</h3>
<select name="Almacenamiento" id="Almacenamiento">
<option></option>
@for(int i= 0; i<=(ViewBag.Almacenamiento.Count - 1); i++){
<option name="Almacenamiento" id="Almacenamiento" value=@ViewBag.Almacenamiento[i].IdProducto>@ViewBag.Almacenamiento[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.Almacenamiento[i].img  height=250px width=250px>
  <br>
  @ViewBag.Almacenamiento[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>Cooler:</h3>
<select name="Cooler" id="Cooler">
<option></option>
@for(int i= 0; i<=(ViewBag.Cooler.Count - 1); i++){
<option name="Cooler" id="Cooler" value=@ViewBag.Cooler[i].IdProducto>@ViewBag.Cooler[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.Cooler[i].img  height=250px width=250px>
  <br>
  @ViewBag.Cooler[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>Fuente:</h3>
<select name="Fuente" id="Fuente">
<option></option>
@for(int i= 0; i<=(ViewBag.Fuente.Count - 1); i++){
<option name="Fuente" id="Fuente" value=@ViewBag.Fuente[i].IdProducto>@ViewBag.Fuente[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.Fuente[i].img  height=250px width=250px>
  <br>
  @ViewBag.Fuente[i].Nombre
  </div>
}
<br>
<br>
<br>
<h3>Gabinete:</h3>
<select name="Gabinete" id="Gabinete">
<option></option>
@for(int i= 0; i<=(ViewBag.Gabinete.Count - 1); i++){
<option name="Gabinete" id="Gabinete" value=@ViewBag.Gabinete[i].IdProducto>@ViewBag.Gabinete[i].Nombre </option>
}
</select>
<br>
@for(int i = 0; i<=4; i++){
  <div class="products">
  <img src=@ViewBag.Gabinete[i].img  height=250px width=250px>
  <br>
  @ViewBag.Gabinete[i].Nombre
  </div>
}
<br>
<br>
<input type="hidden" name="pCPU" value="ViewBag.CPU[CPU].Precio" />
<button type="submit">Guardar Pedido</button>
}else{
  <h2> Todavia no puedes acceder, <a href='InicioSesion'>Haz click aqui para iniciar sesion</a></h2>
}
}
</form>
