@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewBag.UsuarioLogueado.Username</h1>
<img src="@ViewBag.UsuarioLogueado.FotoDePerfil">
<h2>Nombre: @ViewBag.UsuarioLogueado.Nombre</h2>
<h2>Apellido: @ViewBag.UsuarioLogueado.Apellido</h2>
<h2>E-Mail: @ViewBag.UsuarioLogueado.Email</h2>
<h2>Teléfono: +54 @ViewBag.UsuarioLogueado.Telefono</h2>
<h2>Dirección: @ViewBag.UsuarioLogueado.Direccion</h2>

<form method="get" action=''>
<div class="pt-5 mb-5">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input name="Nombre" type="text" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" id="Nombre">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Apellido</label>
    <input name="Apellido" type="text" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1" id="Apellido">
  </div>

    <!-- ingrese contraseña -->
  <div class="mb-3">
    <label for="inputPassword5" class="form-label">E-Mail</label>
    <input name="E-Mail" type="email" placeholder="E-Mail" aria-label="E-Mail" aria-describedby="basic-addon1" id="EMail">
    <div id="infocontraseña" class="form-text">
      <span>La contraseña debe tener: </span> <span style="color:red" id="largo">entre 8 y 100 caracteres</span><span style="color:red" id="caracterEspecial">, al menos un caracter especial</span><span style="color:red" id="letraMayuscula"> y al menos una letra en mayuscula.</span>
    </div>
</div>

<div class="mb-3">
<label for="inputPassword5" class="form-label">Teléfono</label>
<input name="Telefono" type="text" placeholder="Teléfono" aria-label="ConfPass" aria-describedby="basic-addon1" id="Telefono">
    <div id="coincidenciacontras" class="form-text">
        <span id="coinciden"style="color:red"></span>
    </div>
</div>

<div class="mb-3">
<label for="inputPassword5" class="form-label">Dirección</label>
<input name="Direccion" type="password" placeholder="Dirección" aria-label="Direccion" aria-describedby="basic-addon1" id="Direccion">
    <div id="coincidenciacontras" class="form-text">
        <span id="coinciden"style="color:red"></span>
    </div>
</div>

  <button type="submit"  id="submitform" class="btn btn-info">Actualizar Perfil</button>
</form>